.header__container-movies {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link-movies {
  font-size: 14px;
  line-height: 18px;
}

.header__link-account {
  border: 2px solid #aaaaaa;
  border-radius: 50px;
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.header__link-icon {
  width: 12px;
  height: 14px;
  margin-right: 7px;
}
