.profile {
  flex-grow: 1;
}

.profile__content {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: 0 auto;
  margin-top: 74px;
}

.profile__title {
  margin: 0 0 123px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__input {
  width: 50%;
  height: 31px;
  background: transparent;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
  padding: 0;
}

.profile__input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}

.profile__input:focus {
  outline-style: groove;
  outline-color: #e6e6e6;
}

.profile__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.profile__line {
  border-top: 1px solid #424242;
  margin-top: 1px;
}

.profile__editbtn {
  margin-top: 220px;
  margin-bottom: 16px;
  background: transparent;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}

.profile__editbtn:hover {
  color: #ee3465;
}

.profile__logoutbtn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  background: transparent;
  border: none;
  cursor: pointer;
}

.profile__logoutbtn:hover {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .profile__content {
    width: 260px;
  }
  .profile__editbtn {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__logoutbtn {
    font-size: 12px;
    line-height: 15px;
  }
}
