.notfound {
  flex-grow: 1;
}

.notfound__content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: flex-end;
  align-items: center;
}

.notfound__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.notfound__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 184px 0;
}

.notfound__btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  width: fit-content;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.notfound__btn:hover {
  color: #4294f4;
}

@media screen and (max-width: 1024px) {
  .notfound__content {
    height: 80vh;
  }
}

@media screen and (max-width: 767px) {
  .notfound__title {
    font-size: 80px;
    line-height: 97px;
  }
  .notfound__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .notfound__btn {
    font-size: 12px;
    line-height: 15px;
  }
}
