@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url(../../vendor/fonts/inter/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url(../../vendor/fonts/inter/Inter-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url(../../vendor/fonts/inter/Inter-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url(../../vendor/fonts/inter/Inter-Bold.woff2) format('woff2');
}

.App {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .App {
    width: 100%;
  }
}
