@media screen and (max-width: 768px) {
  .mobilenav__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 520px;
    background-color: #202020;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;
    transition: all 0.3s ease-in-out;
  }
  .mobilenav__menu-active {
    transform: translateX(-94%);
    transition: all 0.3s ease-in-out;
  }
  .header__link-account-humb {
    position: absolute;
    margin-left: 0;
    bottom: 90px;
    transform: translateX(-50%);
  }
  .header__link-humb {
    font-size: 18px;
    line-height: 22px;
  }
  .mobilenav__menu-link:first-child {
    margin-top: 159px;
  }
  .mobilenav__menu-link:last-child {
    margin-top: 88%;
  }
  .header__link-active {
    border-bottom: 2px solid #ffffff;
  }
}

@media screen and (max-width: 520px) {
  .mobilenav__menu {
    width: 100vw;
    gap: 24px;
  }
  .mobilenav__menu-link:first-child {
    margin-top: 144px;
  }
  .mobilenav__menu-link:last-child {
    margin-top: 90%;
  }
  .header__link-account-humb {
    bottom: 46px;
  }
}
