.mobilenav {
  display: none;
}

.mobilenav__humbicon {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 3.91%;
  top: 15px;
  cursor: pointer;
}

.mobilenav__humbicon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .mobilenav {
    display: flex;
  }
}
