.footer {
  height: 172px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 89%;
  margin: 0 auto;
}

.footer__sourse {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin: 0 0 20px 0;
}

.footer__link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  margin: 20px 0 0 0;
}

.footer__container {
  border-top: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 20px 0;
}

.footer__linklist {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 182px;
}

.footer__link:hover {
  opacity: 0.6;
}
