.auth__signin {
  flex-grow: 1;
}

.auth__button-signin {
  margin-top: 179px;
}

@media screen and (max-width: 767px) {
  .auth__button-signin {
    margin-top: 267px;
  }
  .auth__content-signin {
    margin-top: 56px;
  }
}
