body {
  margin: 0 auto;
  background-color: #202020;
  min-height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
